@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.pricing-box {
  width: 257px;
  height: 583px;
  border-radius: 10px;
}